/* Common styles
-------------------------------------------------- */
.text-right {
  text-align: right;
  }

.nobr {
  white-space: nowrap;
  }

body, table tr td, .fixed {
  font-family: 'Verdana', Verdana, sans-serif;
  font-size: 1em;
  }

.token {
  display: inline-block;
  background-color: #fefefe;
  padding: 0 3px;
  margin: 0 1px;
  border: 1px solid silver;
  border-radius: 0.25em;
  cursor: pointer;
  cursor: hand;
  }

.feature-enabled img {
  }
.feature-disabled img {
  opacity: 0.2;
  filter: alpha(opacity=20);
  }

.label {
  font-size: 1em;
  padding: 2px;
  margin-bottom: 1px;
  font-weight: normal;
  display: inline-block;
  font-family: sans-serif;
  border: 1px solid transparent;
  }

.label .glyphicon {
  font-size: 0.9em;
  }

.label-outline {
  color: black;
  border: 1px solid #999;
  background-color: transparent;
  }

.label-contrast {
  color: white;
  border: 1px dotted #999;
  background-color: black;
  }

h2 {
  font-size: 1.5em;
  margin-top: 2em;
}

.progress {
  margin-bottom: 0;
  /*background-color: transparent;*/
  /*min-width: 60px;*/
  }
.progress-bar {
  padding: 0 4px;
  text-align: left;
  /*color: #888;*/
  }

a.class {
  text-decoration: underline;
  }

.debug {
  border: 1px solid orange;
}

.table-condensed tbody > tr > td {
  padding: 2px 3px;
  }


/* Panes
-------------------------------------------------- */

.panes .jobs .error {
  min-width: 100px;
}

.panes .tokens .token {
  margin-bottom: 3px;
}



/* Table styles
-------------------------------------------------- */

table.table th {
  text-transform: uppercase;
  }

.col-details-percent {
  display: inline-block;
  width: 40px;
  text-align: right;
  float: left;
  padding: 2px;
  }

.col-details-progress {
  min-width: 100px;
  }

.col-rate {
  width: 60px;
  text-align: right;
  }

.col-size {
  width: 60px;
  text-align: right;
  }

.col-flag {
  width: 25px;
  text-align: center;
  }


/* Header styles
-------------------------------------------------- */
.header-indicators {
  /*border: 1px solid red;*/
  margin-top: 20px;
  margin-bottom: 4px;
}

.paginator, .filters {
  padding-bottom: 5px;
}

.paginator .btn, .filters .btn {
  margin-bottom: 2px !important;
}

.filters {
  padding-right: 5px;
}

.paginator {
  padding-left: 20px;
}

.paginator .btn {
  padding-left: 7px !important;
  padding-right: 7px !important;
}



/* Footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
}
.footer-signature {
  margin-top: 12px;
}

.footer-indicators {
  margin-top: 5px;
}




.indicators .btn {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  }

.label-group .label {
  /*border: 1px solid red;*/
}

.label-group>.label:not(:last-child) {
  border-bottom-right-radius: 0; 
  border-top-right-radius: 0;
  margin-right: 0;
  }

.label-group>.label:not(:first-child) {
  border-bottom-left-radius: 0; 
  border-top-left-radius: 0; 
  margin-left: 0;
  }

.label.label-simple {
  color: black;
  border: 1px solid silver;
  background-color: white;
  
  }
/*
.label-group>.label:first-child:not(:last-child) {
     border-bottom-right-radius: 0; 
     border-top-right-radius: 0; 
}

.label-group>.label:last-child:not(:first-child) {
     border-bottom-left-radius: 0; 
     border-top-left-radius: 0; 
}
*/

.transfer-type {
  width: 40px;
  }

.transfer-prefix {
  /*color: red;*/
  font-family: inherit;
}



/* Job and stasks statuses
-------------------------------------------------- */
.task-status {
  min-width: 18px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 500ms step-start 0s infinite;
  -webkit-animation: blink 500ms step-start 0s infinite;
}